h1{
    color: rgb(194, 133, 20);
    font-size: 50px;
    font-style: italic;
    


}
#mainflag{
    background-color: green;
    width: 800px;
    height: 400px;
}
.red-circle{

    background-color: red;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.circlel-flex{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.bamboo{
    background-color: chocolate;
    height: 900px;
    width: 20px;
}
#djflag{
    display: flex;
}